.absolute-book{
    right:470px;
}

.respabsolute-book{
    right: 0px;
}

.respabsolute-bookbig{
    right: 0px;
}

.mySlides {
    display: none;
  }

.demo{
    display: block;
}

.active{
    display: none;
}

.slider{
    width: 800px;

}

#slider::-webkit-scrollbar{
    display: none;
}
.void{
    width: 400px;

}

#slider2::-webkit-scrollbar{
    display: none;
}